# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
html_catalog_website/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
.env.local
.env.production

# macOS
.DS_Store

# VSCode
.vscode/

